<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="kkkonrad_omnibus_append_price_message"
                type="Kkkonrad\Omnibus\Plugin\FinalPriceBoxPlugin" sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Block\Product\Price">
        <plugin name="kkkonrad_omnibus_append_hyva_product_price_message"
                type="Kkkonrad\Omnibus\Plugin\ProductPricePlugin" sortOrder="100"/>
    </type>
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="kkkonrad_omnibus_prime_catalog_product_list"
                type="Kkkonrad\Omnibus\Plugin\ProductListPlugin" sortOrder="100"/>
    </type>
    <type name="Magento\CatalogWidget\Block\Product\ProductsList">
        <plugin name="kkkonrad_omnibus_prime_product_widget"
                type="Kkkonrad\Omnibus\Plugin\ProductWidgetPlugin" sortOrder="100"/>
    </type>
</config>
