<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="kkkonrad_omnibus" frontName="kkkonrad_omnibus">
            <module name="Kkkonrad_Omnibus" before="Magento_Backend"/>
        </route>
    </router>
</config>
