<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="kkkonrad_omnibus" translate="label" sortOrder="550" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Omnibus Price</label>
            <tab>catalog</tab>
            <resource>Kkkonrad_Omnibus::configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Price History</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="period_days" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Calculation Period in Days</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <comment>Use at least 30 days for Polish Omnibus compliance.</comment>
                </field>
                <field id="retention_days" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>History Retention in Days</label>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                    <comment>Must not be shorter than the calculation period.</comment>
                </field>
                <field id="display_place" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Omnibus Price On</label>
                    <source_model>Kkkonrad\Omnibus\Model\Config\Source\DisplayPlace</source_model>
                </field>
                <field id="display_mode" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Mode</label>
                    <source_model>Kkkonrad\Omnibus\Model\Config\Source\DisplayMode</source_model>
                </field>
                <field id="hide_equal" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide When Lowest Price Matches Current Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="label" translate="label comment" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frontend Label</label>
                    <comment>Variables: {days}, {omnibus_price}, {percentage}. Basic formatting is sanitized.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
